In [1]:
import pandas as pd

In [2]:
import pandas as pd

df = pd.read_csv("C:\\Users\\kalta\\HRAnalytics\\data\\Hr_analytics_dataset_raw.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60500 entries, 0 to 60499
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               60500 non-null  int64
 1   Age                      60500 non-null  int64
 2   Gender                   60500 non-null  object
 3   Education                60500 non-null  object
 4   MaritalStatus            60500 non-null  object
 5   Department               60500 non-null  object
 6   JobRole                  60500 non-null  object
 7   MonthlyIncome            58989 non-null  float64
 8   TotalWorkingYears        60500 non-null  int64
 9   YearsAtCompany           60500 non-null  int64
 10  YearsInCurrentRole       60500 non-null  int64
 11  YearsSinceLastPromotion  60500 non-null  int64
 12  WorkLifeBalance          60500 non-null  int64
 13  JobSatisfaction          58986 non-null  float64
 14  PerformanceRating        60500 non-null  int64
 15  OverTimeHours            60500 non-null  int64
 16  DistanceFromHome         60500 non-null  int64
 17  TrainingHoursLastYear    60500 non-null  int64
 18  ManagerRating            58988 non-null  float64
 19  NumCompaniesWorked       60500 non-null  int64
 20  Attrition                60500 non-null  object
dtypes: float64(3), int64(12), object(6)
memory usage: 9.7+ MB

In [4]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
EmployeeID,60500.0,NaN,NaN,NaN,55027.472942,25997.612197,10000.0,32551.5,55012.5,77600.25,99999.0
Age,60500.0,NaN,NaN,NaN,38.507405,12.097622,18.0,28.0,39.0,49.0,59.0
Gender,60500,3,Male,20442,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Education,60500,4,PhD,15280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MaritalStatus,60500,3,Single,20291,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department,60500,8,Finance,8661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole,60500,8,Sales Executive,7665,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome,58989.0,NaN,NaN,NaN,102322.404974,44861.48394,25000.0,63393.0,102318.0,141270.0,179999.0
TotalWorkingYears,60500.0,NaN,NaN,NaN,19.511058,11.522793,0.0,10.0,20.0,29.0,39.0
YearsAtCompany,60500.0,NaN,NaN,NaN,9.503554,5.768953,0.0,4.0,10.0,15.0,19.0
YearsInCurrentRole,60500.0,NaN,NaN,NaN,6.958463,4.329303,0.0,3.0,7.0,11.0,14.0
YearsSinceLastPromotion,60500.0,NaN,NaN,NaN,6.966628,4.314546,0.0,3.0,7.0,11.0,14.0
WorkLifeBalance,60500.0,NaN,NaN,NaN,2.497207,1.117256,1.0,1.0,2.0,3.0,4.0
JobSatisfaction,58986.0,NaN,NaN,NaN,2.495406,1.123178,1.0,1.0,2.0,4.0,4.0
PerformanceRating,60500.0,NaN,NaN,NaN,2.498017,1.11813,1.0,1.0,3.0,3.0,4.0
OverTimeHours,60500.0,NaN,NaN,NaN,19.513769,11.528748,0.0,10.0,20.0,30.0,39.0
DistanceFromHome,60500.0,NaN,NaN,NaN,30.078149,17.019165,1.0,15.0,30.0,45.0,59.0
TrainingHoursLastYear,60500.0,NaN,NaN,NaN,49.30919,28.928449,0.0,24.0,49.0,74.0,99.0
ManagerRating,58988.0,NaN,NaN,NaN,2.49132,1.119283,1.0,1.0,2.0,3.0,4.0
NumCompaniesWorked,60500.0,NaN,NaN,NaN,4.508893,2.863767,0.0,2.0,5.0,7.0,9.0
Attrition,60500,2,No,36306,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

EmployeeID                    0
Age                           0
Gender                        0
Education                     0
MaritalStatus                 0
Department                    0
JobRole                       0
MonthlyIncome              1511
TotalWorkingYears             0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       0
WorkLifeBalance               0
JobSatisfaction            1514
PerformanceRating             0
OverTimeHours                 0
DistanceFromHome              0
TrainingHoursLastYear         0
ManagerRating              1512
NumCompaniesWorked            0
Attrition                     0
dtype: int64

In [8]:
df['MonthlyIncome'].fillna(df['MonthlyIncome'].median(), inplace=True)
df['JobSatisfaction'].fillna(df['JobSatisfaction'].median(), inplace=True)
df['ManagerRating'].fillna(df['ManagerRating'].median(), inplace=True)


df.isnull().sum()

C:\Users\kalta\AppData\Local\Temp\ipykernel_4000\2055503874.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MonthlyIncome'].fillna(df['MonthlyIncome'].median(), inplace=True)
C:\Users\kalta\AppData\Local\Temp\ipykernel_4000\2055503874.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['JobSatisfaction'].fillna(df['JobSatisfaction'].median(), inplace=True)
C:\Users\kalta\AppData\Local\Temp\ipykernel_4000\2055503874.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ManagerRating'].fillna(df['ManagerRating'].median(), inplace=True)

EmployeeID                 0
Age                        0
Gender                     0
Education                  0
MaritalStatus              0
Department                 0
JobRole                    0
MonthlyIncome              0
TotalWorkingYears          0
YearsAtCompany             0
YearsInCurrentRole         0
YearsSinceLastPromotion    0
WorkLifeBalance            0
JobSatisfaction            0
PerformanceRating          0
OverTimeHours              0
DistanceFromHome           0
TrainingHoursLastYear      0
ManagerRating              0
NumCompaniesWorked         0
Attrition                  0
dtype: int64

In [9]:
for col in df.select_dtypes(include='object'):
    print(col, df[col].unique())

Gender ['Male' 'Female' 'Other']
Education ['Master' 'Bachelor' 'PhD' 'High School']
MaritalStatus ['Divorced' 'Married' 'Single']
Department ['IT' 'Finance' 'Sales' 'Support' 'HR' 'Operations' 'R&D' 'Rnd']
JobRole ['HR Specialist' 'Sales Executive' 'Manager' 'Software Engineer'
 'Laboratory Technician' 'Support Rep' 'Financial Analyst'
 'Research Scientist']
Attrition ['Yes' 'No']

In [11]:

df['Attrition'].value_counts(dropna=False)

Attrition
No     36306
Yes    24194
Name: count, dtype: int64

In [14]:
n_total_employees = len(df)
n_attrited = df['Attrition'].value_counts()
attrition_rate = df['Attrition'].value_counts(normalize=True)*100
print(attrition_rate)

Attrition
No     60.009917
Yes    39.990083
Name: proportion, dtype: float64

companyâ€™s attrition rate is 39.9% (approximately 40%).

In [15]:
df['Department'] = df['Department'].replace({'Rnd': 'R&D'})

In [16]:
df['Gender'] = df['Gender'].str.strip().str.title()
df['Education'] = df['Education'].str.strip().str.title()

In [24]:
cols_to_check = [
    'MonthlyIncome',
    'DistanceFromHome',
    'OverTimeHours',
    'TrainingHoursLastYear',
    'Age',
    'TotalWorkingYears',
    'YearsAtCompany',
    'YearsInCurrentRole'
]

In [25]:
for col in cols_to_check:
    
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    
    print(f"\nColumn: {col}")
    print(f"Lower Bound: {lower_bound}")
    print(f"Upper Bound: {upper_bound}")
    print(f"Outliers Found: {len(outliers)}")

Column: MonthlyIncome
Lower Bound: -49545.875
Upper Bound: 254283.125
Outliers Found: 0

Column: DistanceFromHome
Lower Bound: -30.0
Upper Bound: 90.0
Outliers Found: 0

Column: OverTimeHours
Lower Bound: -20.0
Upper Bound: 60.0
Outliers Found: 0

Column: TrainingHoursLastYear
Lower Bound: -51.0
Upper Bound: 149.0
Outliers Found: 0

Column: Age
Lower Bound: -3.5
Upper Bound: 80.5
Outliers Found: 0

Column: TotalWorkingYears
Lower Bound: -18.5
Upper Bound: 57.5
Outliers Found: 0

Column: YearsAtCompany
Lower Bound: -12.5
Upper Bound: 31.5
Outliers Found: 0

Column: YearsInCurrentRole
Lower Bound: -9.0
Upper Bound: 23.0
Outliers Found: 0

In [26]:
df['AttritionFlag'] = df['Attrition'].map({'Yes': 1, 'No': 0})

# Feature Engineering

In [27]:
df['EngagementScore'] = df[['JobSatisfaction','WorkLifeBalance','ManagerRating']].mean(axis=1)

In [28]:
#Used to identify burnout
df['OvertimeCategory'] = pd.qcut(

    df['OverTimeHours'],
    q=3,
    labels=['Low','Medium','High']
)

In [29]:
#Early leavers (0-1) usually have highest attrition
df['TenureBucket'] = pd.cut(
    df['YearsAtCompany'],
    bins=[0,1,4,9,50],
    labels=['0-1','2-4','5-9','10+']
)

In [30]:
df['IsEarlyJoiner'] = (df['YearsAtCompany'] <= 2).astype(int)

In [31]:
#Recognize managers with higher churn
df['ManagerLow'] = (df['ManagerRating'] <= 3).astype(int)

In [32]:
#Detect underpaid employees
df['CompensationRatio'] = df['MonthlyIncome'] / df.groupby('JobRole')['MonthlyIncome'].transform('median')

In [33]:
#Identifies overworked employees
df['WorkStrainScore'] = (
    (df['OverTimeHours'] / df['OverTimeHours'].max()) * 0.5 +
    (df['DistanceFromHome'] / df['DistanceFromHome'].max()) * 0.3 +
    (1 - df['WorkLifeBalance'] / 5) * 0.2
)

In [34]:
df.to_csv("clean_hr_data.csv", index=False)